* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container{
    background-color: red;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: widthh;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}



@keyframes widthh{
   from{
    width: 200px;
   }

    to{
        width: 1200px;
    }

}


.div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;  
  }
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }
  