body {
    background: hsl(185, 80%, 42%);
    background-image: url(./assets/bg-pattern-top.svg), url(./assets/bg-pattern-bottom.svg);
    
    background-repeat: no-repeat no-repeat;
    background-position: -30% 1000%, 120% -1000%;
    font-family: 'Kumbh Sans';
    display: flex;
}

main{
    height: 1200px;
    width: 1200px;
    
        
}
    
.div{
    height: 200px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    font-family: cursive;
    border-radius: 5%;
    text-transform: uppercase;
    margin-left: 350px;
    
    
    }


.img{
    height: 200px;
    width: 500px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.img1{
    border-radius: 100%;
    width: 30%;
    border-color: rgb(170, 179, 179);
    border: 5px;
    
}

.div1{
    height: 250px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    
    font-family: cursive;
        
    border-bottom-left-radius: 5%;
    border-bottom-right-radius:5% ;
    text-transform: uppercase;
    margin-left: 350px;
    padding-bottom: 300px;
    width: 500px;
}

.line {
    width: 100%; 
    height: 2px; 
    background-color: black; 

    margin-top: 100px;
}

.p1{
    color: rgb(69, 68, 68);
    font-size: small;

}

.p2{
    color: gray;
    font-size: medium;
}


.p3{
    padding-left: 5px;
    margin-left: 5px;
}


.container{
    display: flex;
    gap: 170px;
    margin-left: 30px;
}

.container1{
    display: flex;
    gap: 140px;
    margin-left: 10px;
    color: rgb(109, 114, 114);
    font-size: small;
}
